.person-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  
  &__photo-container {
    height: 250px;
    width: 200px;
    
    & #input-photo {
      display: none;
    }
  }
  
  &__button {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all .1s ease-out;
    
    &:hover {
      opacity: 1;
      transition: all .1s ease-in;
      cursor: pointer;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}